<nav class="reward-nav">
  <ul>
    <li class="<%= 'on' if on_li == 'select' %>">1.Payment Method</li>
    <li class="<%= 'on' if on_li == 'ship' %>">2.Shipping Info</li>
    <li class="<%= 'on' if on_li == 'confirm' %>">3.Confirmation</li>
    <li class="<%= 'on' if on_li == 'complete' %>">4.Complete</li>
  </ul>
</nav>
