<% provide(:title, "Complete") %>
<div class="row">
  <div class="col-md-12">
    <div class="apply-title">
      <%= render 'apply_nav', on_li: 'complete' %>
    </div>
    <section class="apply-box">
      <div class="box-body">
        <section class="complete">
          <h2>Thank you for application.</h2>
          <p>Please wait until the aproval process will be finished.</p>
        </section>
      </div>
    </section>
    <%= link_to 'Back to Main', root_path %>
  </div>
</div>
