<% provide(:title, "Apply") %>
<div class="row">
  <div class="col-md-12">
    <div class="apply-hero">
      <%= image_tag('ex_fun_pic.jpg', alt: 'Fun picture image') %>
      <div class="msg">
        <p>Let's Start Something!!</p>
        <%= link_to 'Get Started', apply_basic_path, class: 'btn btn-white btn-ghost btn-lg' %>
      <div>
    </div>
  </div>
</div>
