<% provide(:title, "Preview") %>
<div class="row">
  <div class="col-md-12">
    <div style="width: 100%; height: 300px; text-align: center; padding-top: 100px;">
      <h2>Preview Displaed here.</h2>
    </div>
    <section class="action-btn">
      <div class="left-btn">
        <%= link_to 'BACK', apply_contact_path%>
      </div>
      <div class="right-btn">
        <%= link_to 'NEXT', apply_complete_path %>
      </div>
    </section>
  </div>
</div>
