<% provide(:title, "Information for creators.") %>
<div class="row">
  <%= render 'sidemenu', creators_guide_expanded: true %>
  <div class="col-md-9">
    <h2>How To Create</h2>
    <div class="top-box">
      <div class="top-box-1">
        <p class="top-box-p">
          <strong>1アイデアはあるけど、具体的な内容は決まっていない、クラウドファンディングに興味がある方、ちょっとだけ気になることがある...等 まずは気軽に相談してみたい方は、</strong>サイトTOPにある「プロジェクトを開始する（またはスタッフに相談してみる）」をクリックし、<strong>相談フォーム</strong>に進んで下さい。
        </p>
      </div>
      <div class="top-box-1">
        <p class="top-box-p">
          <strong>2プロジェクト内容が決まっていて、今すぐ新しいプロジェクトを始めたい方は、</span>サイトTOPにある「プロジェクトを開始する（またはスタッフに相談してみる）」をクリックし、<span class="underLine">プロジェクト申請フォーム</span>に進んでください。
        </p>
      </div>
    </div>

    <h3>1. 相談フォームの場合</h3>
    <section class="helps-section">
      <div class="helps-section-title">
        Step 1: 相談フォーム（入力）
      </div>
      <div class="helps-section-box">
        <p>プロジェクトの相談ページでは、下記の内容に注意して、入力してください。</p>
        <p><span>相談内容について</span></p>
        <ul>
          <li>Makuakeについて</li>
          <li>掲載可能なプロジェクトについて</li>
          <li>審査について</li>
          <p>プロジェクトに関するものなら何でもお気軽にご相談ください。</p>
        </ul>
        <p>必須項目を記入の上、確認画面へお進みください。</p>
      </div>
    </section>
    <section class="helps-section">
      <div class="helps-section-title">
        Step 2: 相談フォーム（確認）
      </div>
      <div class="helps-section-box">
        <p>一度申請してしまうと、修正は出来ないため、入力した内容をもう一度確認してください。
        <p>お間違えがないようでしたら、「送信する」ボタンを、修正したい場合は、「修正する」をそれぞれクリックしましょう。</p>
      </div>
    </section>

    <h3>2. プロジェクト申請の場合</h3>
    <section class="helps-section">
      <div class="helps-section-title">
        Step 1: プロジェクト申請（入力）
      </div>
      <div class="helps-section-box">
        <p>プロジェクトの相談ページでは、下記の内容に注意して、入力してください。</p>
        <p><span>相談内容について</span></p>
        <ul>
          <li>Makuakeについて</li>
          <li>掲載可能なプロジェクトについて</li>
          <li>審査について</li>
          <p>プロジェクトに関するものなら何でもお気軽にご相談ください。</p>
        </ul>
        <p>必須項目を記入の上、確認画面へお進みください。</p>
      </div>
    </section>
    <section class="helps-section">
      <div class="helps-section-title">
        Step 2: プロジェクト申請（確認）
      </div>
      <div class="helps-section-box">
        <p>一度申請してしまうと、修正は出来ないため、入力した内容をもう一度確認してください。
        <p>お間違えがないようでしたら、「送信する」ボタンを、修正したい場合は、「修正する」をそれぞれクリックしましょう。</p>
      </div>
    </section>

  </div>
</div>
