
/* Header */

.logo {
  float: left;
  //margin-right: 10px;
  // font-size: 1.7em;
  // color: white;
  // text-transform: uppercase;
  // letter-spacing: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
  // font-weight: bold;
  &:hover {
    opacity: .5;
    // color: white;
    // text-decoration: none;
  }
}

header.navbar {
  background-color: white;
  border-bottom: solid 1px $gray-medium-light;
}

.navbar-right>li>a {
  height: 60px;
}
