<% provide(:title, "#{params[:action].capitalize} Projects") %>
<div class="row">
  <div class="col-md-3">
    <p style="margin: 30px;">
      <%= image_tag 'ex_user_thumb_01.png' %>
      <%= link_to 'Sam Smith', mypage_index_path %>
    </p>
    <%= render 'sidemenu' %>
  </div>
  <div class="col-md-9">
    <h2>Thank you for using us.</h2>
    <div>
      <p>Please select the reason of withdrawal from the below list.</p>
      <input type="checkbox">I created another new account.</input><br>
      <input type="checkbox">It's boring.</input><br>
      <input type="checkbox">Others</input><br>
      <textarea></textarea><br>
      <div class="btn btn-primary">WITHDRAW</div>
    </div>
  </div>
</div>
