<footer class="footer">
  <small>
    The <%= link_to 'Vin-Vin Funding', root_path %>
    by <a href="http://www.jepco.org">JEPCO, K.K.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('footer.faqs') , helps_faqs_path %></li>
    </ul>
  </nav>
</footer>
